<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Checkbox</title>
</head>

<body>
  <form class="" action="/" method="post">
    <div class="col-sm-6">
      <div class="checkbox">
        <label><input name="food" type="checkbox" value="dairy">Dairy</label>
      </div>
      <div class="checkbox">
        <label><input name="food" type="checkbox" value="meat">Meat</label>
      </div>
      <div class="checkbox">
        <label><input name="food" type="checkbox" value="fish">Fish</label>
      </div>
    </div>
    <br>
    <div class="col-sm-6">
      <div class="checkbox">
        <label><input name="food" type="checkbox" value="dairy">Dairy</label>
      </div>
      <div class="checkbox">
        <label><input name="food" type="checkbox" value="meat">Meat</label>
      </div>
      <div class="checkbox">
        <label><input name="food" type="checkbox" value="fish">Fish</label>
      </div>
    </div>
    <br>
    <div class="col-sm-6">
      <div class="checkbox">
        <label><input name="food" type="checkbox" value="dairy">Dairy</label>
      </div>
      <div class="checkbox">
        <label><input name="food" type="checkbox" value="meat">Meat</label>
      </div>
      <div class="checkbox">
        <label><input name="food" type="checkbox" value="fish">Fish</label>
      </div>
      <div>
        <button type="submit" name="button">Submit</button>
      </div>
    </div>
  </form>

</body>

</html>
