<%- include('./partials/defaultNav') %>

<div class="jumbotron">
  <div class="container">
    <div class="hero-desc">
      <h1 class="text-uppercase hero-text">Crack the Pot</h1>
      <p class='hero-post'>Some fancy caption</p>
      <button class="hero-button">Register</button>
    </div>
  </div>
</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <h4 class='deet-head text-center'>Details</h4>  
  <div class="deet-cards">
    <div class="card">
      <div class="card-body">
        <i class="fas fa-palette"></i>
        <h4 class="card-title">Theme</h4>
        <p class="card-text">International Day of &lt;Some random day /&gt;</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <i class="fas fa-clock"></i>
        <h4 class="card-title">Duration</h4>
        <p class="card-text">MM - DD to MM - DD</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <i class="fas fa-poll"></i>
        <h4 class="card-title">Results Declaration</h4>
        <p class="card-text">MM - DD - YYYY</p>
      </div>
    </div>
  </div>
</div>

<div class="card desc-card">
  <div class="row no-gutters">
    <div class="col-md-6">
      <img src="https://images.unsplash.com/photo-1591530125288-e97fab226413?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=60" class="card-img" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h6 class="desc desc-pre">About the Event</h5>
        <h3 class="card-title desc desc-head">Caption here</h3>
        <p class="card-text desc desc-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum molestie tincidunt. Curabitur facilisis auctor nibh vitae placerat. Cras imperdiet, erat eu varius tincidunt, enim dui aliquam mauris, rutrum facilisis magna nisi dictum tortor. Vivamus vitae quam blandit, suscipit quam ut, auctor justo. Etiam quam nunc, pulvinar vitae velit a, fermentum venenatis felis. Duis interdum, mauris eu egestas eleifend, ante justo suscipit quam, placerat laoreet elit dui id tellus. Sed rutrum feugiat laoreet. Sed dignissim malesuada sapien, posuere aliquet magna congue in. Cras ut orci dolor.</p>
        <p class="card-text desc desc-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum molestie tincidunt. Curabitur facilisis auctor nibh vitae placerat. Cras imperdiet, erat eu varius tincidunt, enim dui aliquam mauris, rutrum facilisis magna nisi dictum tortor. Vivamus vitae quam blandit, suscipit quam ut, auctor justo. Etiam quam nunc, pulvinar vitae velit a, fermentum venenatis felis. Duis interdum, mauris eu egestas eleifend, ante justo suscipit quam, placerat laoreet elit dui id tellus. Sed rutrum feugiat laoreet. Sed dignissim malesuada sapien, posuere aliquet magna congue in. Cras ut orci dolor.</p>
      </div>
    </div>
  </div>
</div>
