<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com -->
  <title>THEPC - Event</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/e57fcbd46d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169020736-1"></script> -->
  <script>
    // window.dataLayer = window.dataLayer || [];
    // function gtag(){dataLayer.push(arguments);}
    // gtag('js', new Date());

    // gtag('config', 'UA-169020736-1');
    $(function () {
    $(window).on('scroll', function () {
        if ( $(window).scrollTop() > 100 ) {
            $('#mainNav').addClass('active');
            $('.navbar-brand').addClass('activeText');
            $('.navbar-toggler .fas').addClass('activeText');
            $('.collapse li a').addClass('activeText');
        } else {
            $('#mainNav').removeClass('active');
            $('.navbar-brand').removeClass('activeText');
            $('.navbar-toggler .fas').removeClass('activeText');
            $('.collapse li a').removeClass('activeText');
        }
    });
});
  </script>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <div><%- body%></div>

  <!-- <footer class='navbar navbar-expand-sm bg-grey navbar-grey hide-sm'>
    <strong>&copy; The Hindu Education Plus Club 2012-2020. All Rights Reserved.
    </strong>
    <strong class='tech'>For any technical difficulties, contact : tech@thepcvit.com.</strong>
  </footer>
  <footer class='navbar navbar-expand-sm bg-grey navbar-grey hide-lg'>
    <strong>&copy; The Hindu Education Plus Club 2012-2020. All Rights Reserved.
    </strong>
    <strong class='tech'>For any technical difficulties, contact : tech@thepcvit.com.</strong>
  </footer> -->
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})

$(document).ready(function(){
    $(document).scroll(function(){
        if($(this).scrollTop() > 210)
            $('body').animate({backgroundColor: 'rgba(255,255,255,.9)'}, 1000);
    });
});
</script>

</body>
</html>
