<%- include('./partials/defaultNav') %>

<div id="success" class="container-fluid form-group">
  <div class="row mt-6">
    <div class="col-md-6 m-auto">
      <div>
        <h1 class="mb-4 mt-10">
          <i class="far fa-check-circle"></i> You have successfully registered for the event. You can now login to participate.
        </h1>
        <a href = '/login'><div type="submit" name="div" class='last-butt'>Login</div></a>
      </div>
    </div>
  </div>
</div>
