<%- include('./partials/defaultNav') %>

<div id="success" class="container-fluid form-group">
  <div class="row mt-6">
    <div class="col-md-6 m-auto">
      <div>
        <h1 class="mb-4 mt-10">
          <i class="far fa-check-circle"></i> You have successfully registered for the event. Come back on 17th July to participate.
        </h1>
      </div>
    </div>
  </div>
</div>
