<%- include('./partials/auth-menu') %>

<div id="success" class="container-fluid form-group">
  <div class="row mt-6">
    <div class="col-md-6 m-auto">
      <div>
        <h1 class="mb-4 mt-10">
          <i class="far fa-check-circle"></i> Your responses have been recorded successfully.</h1>
      </div>
    </div>
  </div>
</div>
