<%- include('./partials/auth-menu') %>

<div id="success" class="container-fluid form-group">
  <div class="row mt-6">
    <div class="col-md-6 m-auto">
      <div>
        <h1 class="mb-4 mt-10">
          <i class="far fa-check-circle"></i> Your responses have been recorded successfully.</h1>
      </div>
      <div class="text-left">   <a href='/quiz/round1' class='btn btn-lg btn-dark'>Round 1 here.</a></div><br />
      <div class="text-left">   <a href='/quiz/round2' class='btn btn-lg btn-dark'>Round 2 here.</a></div><br />
      <div class="text-left">   <a href='/quiz/round3' class='btn btn-lg btn-dark'>Round 3 here.</a></div><br />
    </div>
  </div>
</div>
